# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.ipdb
*.tlog
*.db
*.user
*.log
*.iobj
*.pdb
.vs/InfoPractice1/v16/.suo
*.opendb
*.idb
*.ilk
*.txt
/Interface/obj
/Interface/bin
/x64
/Debug
/Index
/Buf
/Books
.vs/InfoSearch/v16/.suo
*.v2
*.db-shm
*.db-wal
*.cache
*.cache
Interface/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.cs
*.cache
Interface/obj/Debug/netcoreapp3.1/Interface.assets.cache
Engine/x64/Debug/Engine.vcxprojAssemblyReference.cache
Interface/obj/Debug/netcoreapp3.1/Interface.csprojAssemblyReference.cache
*.cache
